nav ul {display: flex;
  gap: 30px;}
nav ul a{color:rgb(48, 48, 48);}  
header{position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
background-color: rgb(236, 236, 232);
}
  .hero
    {
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   background-image: linear-gradient(rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("./img/background.webp");
   }
   .menu{display: none;}

.btn{
    margin-top: 80px;
    background-color: #f4623a;
    color: white;
    border: none;
    padding: 20px 35px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    text-transform: uppercase;
}
.w-btn{margin-top: 80px;
    background-color:white;
    color: rgb(0, 0, 0);
    border: none;
    padding: 20px 35px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50px;
    text-transform: uppercase;

}
.services-sec{display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
background-color: #f4623a;
height: 70vh;}
.services-section{
  padding: 80px 20px;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.services-grid{display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;}
  .service-item {width: 250px;}
  .service-item p{line-height: 1.6}
  .contact{background-color: #1f2933;
    color: white;
    text-align: center;
    padding: 80px 20px
  }
  .contact button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
  
    font-weight: bold;
}
form {max-width: 700px;
margin: auto;}

form div {
    margin-bottom: 15px;
}
textarea {
    height: 120px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-top: 10px;
}
form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #f28c74;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.phone{margin-top: 20px;
    color: #555;}
.last{display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}
.Portfolio-item{padding: 0;
margin: 0;
position: relative;

}
.Portfolio-item:hover .category{opacity: 1;}
.category{position: absolute;
top: 0;
inset: 0;
background-color: rgba(250, 83, 17, 0.673);
display: flex;
flex-direction: column;
justify-content: center;
opacity: 0;
transition: .6s;
cursor: pointer;
z-index: 2;
}
@media screen and (min-width:0) and (max-width:990px){
  .list{display: none;}
  .menu{display: block;}
  .hero-sec{margin-top: 60px;}
  h1{font-size: 21px;}
}
@media screen and (min-width  : 991px ) and  ( max-width : 1440px ) {
 h1{
  font-size: 36px !important;
  font-weight: 400 !important; }
 .list{display: none;}
  .menu{display: block;}
  .services-grid{display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
width: 100%;}
.container{
    margin: auto;
    width: calc(100% - 100px);
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;

}
}